{% extends 'base.html' %}
{% load static %}



{% block title %}Products - Your E-commerce Store{% endblock %}

{% block contents %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
            <!-- {% if product.images.all %}
                <h2>Product Images:</h2>
                <div class="product-images">
                    {% for image in product.images.all %}
                        <img class="thumbnail" src="{{ image.image.url }}" alt="{{ product.name }} Image">
                    {% endfor %}
                </div>
            {% endif %} -->

            {% if product.images %}
			<img class="thumbnail" src="{{product.images.first.image.url}}" alt="{{product.name}} image">
			{% else %}
            <img class="thumbnail" src="{% static 'images/download.jpeg' %}" alt="{{product.name}} image">
            {% endif %}
            <div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<a class="btn btn-outline-success" href="{% url 'product' product.id %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock contents %}


{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">

            <div class="container px-4 px-lg-5 mt-5">
            
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-3 justify-content-center">
                        
                {% for product in products %}
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                            <!-- Product image-->
                            {% if product.images.first %}
                            <img class="card-img-top" src="{{ product.images.first.image.url }}" alt="{{product.name}} image" />
			                {% else %}
                            <img class="card-img-top" src="{% static 'images/tiles.jpeg' %}" alt="{{product.name}} image" />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Sale -->
                <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
                </div>

                                    <!-- Product price-->
                                    <strike>
                                    ${{ product.price }}
                                    </strike>
                                    &nbsp;
                                    ${{ product.sale_price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
        <a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id  %}">View Product</a>
    </div>
                            </div>
                        </div>
                    </div>


                    {% comment %}
                <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    ${{ product.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                            </div>
                        </div>
                    </div>

					{% endcomment %}

                    {% endfor %}


            </div>
        </section>

{% endblock %}
