.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0c0e30; /* Optional: Set background color */
    padding: 10px; /* Optional: Add padding for spacing */
  }

.second-div{
  background-color: #1711c2;
}